html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video, details, summary
                                        {
                                         margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; background: transparent; outline: none;
                                        }
a                                       {
                                         text-decoration: none; color: #888;
                                        }
a, a:hover, a:visited, a:active         {
                                         outline: none
                                        }
article, aside, figure, footer, header, hgroup, nav, section, details, summary, main
                                        {
                                         display: block
                                        }
img, object, embed                      {
                                         max-width: 100%
                                        }
img                                     {
                                         display: block
                                        }
html                                    {
                                         overflow-y: scroll
                                        }
ul                                      {
                                         list-style: none
                                        }
blockquote, q                           {
                                         quotes: none
                                        }
blockquote:before, blockquote:after, q:before, q:after
                                        {
                                         content: ''; content: none;
                                        }
a                                       {
                                         margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;
                                        }
del                                     {
                                         text-decoration: line-through
                                        }
abbr[title], dfn[title]                 {
                                         border-bottom: 1px dotted #000; cursor: help;
                                        }
table                                   {
                                         border-collapse: collapse; border-spacing: 0;
                                        }
th                                      {
                                         font-weight: bold; vertical-align: bottom;
                                        }
td                                      {
                                         font-weight: normal; vertical-align: top;
                                        }
hr                                      {
                                         display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;
                                        }
input, select                           {
                                         vertical-align: middle
                                        }
pre                                     {
                                         white-space: pre; /* CSS2 */ white-space: pre-wrap; /* CSS 2.1 */ white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */ word-wrap: break-word; /* IE */
                                        }
input[type="radio"]                     {
                                         vertical-align: text-bottom
                                        }
input[type="checkbox"]                  {
                                         vertical-align: bottom
                                        }
.ie7 input[type="checkbox"]             {
                                         vertical-align: baseline
                                        }
.ie6 input                              {
                                         vertical-align: text-bottom
                                        }
select, input, textarea                 {
                                         font: 99% sans-serif
                                        }
table                                   {
                                         font-size: inherit; font: 100%;
                                        }
small                                   {
                                         font-size: 85%
                                        }
strong                                  {
                                         font-weight: bold
                                        }
td, td img                              {
                                         vertical-align: top
                                        }
sub, sup                                {
                                         font-size: 75%; line-height: 0; position: relative;
                                        }
sup                                     {
                                         top: -0.5em
                                        }
sub                                     {
                                         bottom: -0.25em
                                        }
pre, code, kbd, samp                    {
                                         font-family: monospace, sans-serif
                                        }
.clickable, label, input[type=button], input[type=submit], input[type=file], button
                                        {
                                         cursor: pointer
                                        }
button, input, select, textarea         {
                                         margin: 0
                                        }
button                                  {
                                         width: auto; overflow: visible;
                                        }
.ie7 img                                {
                                         -ms-interpolation-mode: bicubic
                                        }
.ie6 html                               {
                                         filter: expression(document.execCommand("BackgroundImageCache", false, true))
                                        }
.clearfix:before, .clearfix:after       {
                                         content: "\0020"; display: block; height: 0; overflow: hidden;
                                        }
.clearfix:after                         {
                                         clear: both
                                        }
.clearfix                               {
                                         zoom: 1
                                        }
*                                       {
                                         -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
                                        }
.chromeframe                            {
                                         position: absolute; top: 0;
                                        }
body, select, input, textarea           {
                                         color: #333
                                        }
::-moz-selection                        {
                                         background: #2ECC71; color: #fff; text-shadow: none;
                                        }
::selection                             {
                                         background: #2ECC71; color: #fff; text-shadow: none;
                                        }
a:link                                  {
                                         -webkit-tap-highlight-color: #E94B4B
                                        }
ins                                     {
                                         background-color: #E94B4B; color: #000; text-decoration: none;
                                        }
mark                                    {
                                         background-color: #E94B4B; color: #000; font-style: italic; font-weight: bold;
                                        }
input:-moz-placeholder                  {
                                         color: #a9a9a9
                                        }
textarea:-moz-placeholder               {
                                         color: #a9a9a9
                                        }
img                                     {
                                         vertical-align: middle
                                        }